<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        {# debugbar #}
        {{ debug_bar_header()|raw }}
        {# End debugbar #}


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <!-- CSS Files
        ================================================== -->
        <link rel="stylesheet" href="{{ asset('libs/bootstrap/bootstrap.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('libs/animate/animate.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('libs/owl/owl.carousel.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('libs/owl/owl.theme.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('libs/owl/owl.transitions.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('jpreloader.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('plugin.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('magnific-popup.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('demo.css') }}" type="text/css">

        <!-- custom background -->
        <link rel="stylesheet" href="{{ theme_asset('bg.css') }}" type="text/css">

        <!-- color scheme -->
        <link rel="stylesheet" href="{{ theme_asset('colors/'~field_render('theme_color')~'.css') }}" type="text/css" id="colors">

        <!-- load fonts -->
        <link rel="stylesheet" href="{{ asset('libs/font-awesome/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('fonts/elegant_font/HTML_CSS/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('fonts/et-line-font/style.css') }}" type="text/css">

        <!-- revolution slider -->
        <link rel="stylesheet" href="{{ theme_asset('rs-plugin/css/settings.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme_asset('rev-settings.css') }}" type="text/css">

        {% for stylesheet in data.stylesheets %}
            {% if stylesheet.type == 'file' %}
                <link rel="stylesheet" href="{{ asset(stylesheet.content) }}">
            {% else %}
                <style>
                    {{ stylesheet.content }}
                </style>
            {% endif %}
        {% endfor %}

        {% for library in data.libraries %}
            {% if library.category == 'css' %}
                {% if library.type == 'file' %}
                    <link rel="stylesheet" href="{{ asset(library.path) }}">
                {% else %}
                    <link rel="stylesheet" href="{{ library.path }}">
                {% endif %}
            {% endif %}
        {% endfor %}

        <style>
            @media screen and (min-width: 993px) {
                header.header_left #logo img {
                    margin-top: 30px
                }
            }
        </style>
        {% block css %}{% endblock %}

    {% endblock %}
</head>

<body id="homepage">

    {% set salon = data_render('Jet\\Models\\Society', ['s.name']) %}
    {% set address = data_render('Jet\\Models\\Address', ['a.address','a.city','a.postal_code','a.country','a.latitude','a.longitude']) %}
    {% set account = data_render('Jet\\Models\\Account', ['a.phone','a.email']) %}
    {% set booking_link = field_render('booking_link') %}
    {% set opening_hours = field_render('opening_hours') %}
    {% set socials = field_render('social_networks') %}

    <div id="wrapper">
        <!-- header begin -->
        <header class="header_{{ field_render('navigation_position')}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="{{ path('') }}">
                                {% set logo_list = field_render('logo_light') %}
                                <img class="logo logo_dark_bg" src="{{ img(data.website.logo.path) }}" alt="{{ data.website.logo.alt }}">
                                <img class="logo logo_light_bg" src="{{ img(logo_list.path) }}" alt="{{ logo_list.alt }}">
                            </a>
                        </div>
                        <!-- logo close -->

                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->

                        {{ content_render('navigation') }}

                    </div>
                    <!-- mainmenu close -->

                </div>
            </div>
        </header>

        {% block page %}
        {% endblock %}

        <!-- section begin -->
        <section id="cta" aria-label="cta" class="call-to-action bg-color-2 wow fadeInLeftBig text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mt10">
                        <h3><i class="fa fa-phone mr10"></i>Contactez-nous !</h3>
                    </div>

                    <div class="col-md-3 text-right">
                        <a href="{{ booking_link }}" class="btn btn-line-white btn-big">Réservez maintenant</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->


        <!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="widget">
                            <h3>Nous sommes ouverts</h3>
                            <div class="box-border double">
                                {{ opening_hours | raw }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="widget widget-address">
                            <h3>Contactez-Nous</h3>

                            <address>
                                <span>{{ address.address }}</span>
                                <span>{{ address.postal_code }} {{ address.city }}</span>
                                <span>{{ address.country }}</span>
                                <span><strong>Tél:</strong>{{ account.phone }}</span>
                                <span><strong>E-mail:</strong><a href="mailto:{{ account.email }}">{{ account.email }}</a></span>
                            </address>
                        </div>
                    </div>


                </div>
            </div>

            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            &copy; Copyright 2017 - {{ salon.name }}
                        </div>

                        <div class="col-md-6 text-right">
                            <div class="social-icons">
                                {% for social in socials %}
                                    <a href="{{ social.link }}"><i class="fa fa-{{ social.name | lower }} fa-lg"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script>
        var logo_dir_1 = "{{ img(data.website.logo.path) }}"; // change with your logo path
        var logo_dir_2 = "{{ img(logo_list.path) }}"; // change with your logo path (for light background)
    </script>
    <script src="{{ asset('libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script defer src="{{ asset('libs/owl/owl.carousel.min.js') }}"></script>
    <script defer src="{{ asset('libs/lazysizes/lazysizes.min.js') }}"></script>
    <script defer src="{{ theme_asset('jpreLoader.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.isotope.min.js') }}"></script>
    <script defer src="{{ theme_asset('easing.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.flexslider-min.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.scrollto.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.countTo.js') }}"></script>
    <script defer src="{{ theme_asset('classie.js') }}"></script>
    <script defer src="{{ theme_asset('video.resize.js') }}"></script>
    <script defer src="{{ theme_asset('validation.js') }}"></script>
    <script defer src="{{ theme_asset('wow.min.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.magnific-popup.min.js') }}"></script>
    <script defer src="{{ theme_asset('enquire.min.js') }}"></script>
    <script defer src="{{ theme_asset('jquery.stellar.min.js') }}"></script>
    <script defer src="{{ theme_asset('designesia.js') }}"></script>
    <script defer src="{{ theme_asset('demo.js') }}"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="{{ theme_asset('rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
    <script type="text/javascript" src="{{ theme_asset('rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

    <!-- current page only scripts -->
    <script src="{{ theme_asset('typed.js') }}"></script>
    <script src="{{ theme_asset('typed-custom.js') }}"></script>

    {% for library in data.libraries %}
        {% if library.category == 'js' %}
            {% if library.type == 'file' %}
                <script type="text/javascript" src="{{ asset(library.path) }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ library.path }}"></script>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% block js %}{% endblock %}

    {# debugbar #}
    {{ debug_bar_footer()|raw }}
    {# End debugbar#}
</body>
</html>
