<section id="news" data-panel="news" class="tophead mixitup simplemix">
    <article><div class="hlblock">
            <h1>Articles</h1>
            <ul class="filterlist" data-label="Filtre: " data-default="All">
                <li><a class="filter active" data-filter="all">Tout</a></li>
                {% for category in categories %}<li><a class="filter" data-filter=".{{ category.slug }}">{{ category.name }}</a></li>{% endfor %}
            </ul>
        </div>
        <div class="filteritems news">
            {% for post in posts %}
                {% set params = {} %}
                {% for arg in args %}
                    {% if arg.value != '' %}
                        {% set params = params|merge({(arg.route):arg.value}) %}
                    {% else %}
                        {% if arg.alias == 'p' %}
                            {% set params = params|merge({(arg.route):attribute(post,arg.column)}) %}
                        {% elseif arg.alias == 'c' %}
                            {% set params = params|merge({(arg.route):attribute(post.categories[0],arg.column)}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="item {% for cat in post.categories %}{{ cat.slug }} {% endfor %}">
                    <div class="meta">
                        <a class="category">{{ post.categories.0.name }}</a><i>/</i><span class="date">{{ post.updated_at | date("d/m/Y") }}</span>
                    </div>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    <a href="{{ link(route,params) }}" class="more icon-salon_plus">Voir plus</a>
                </div>{% endfor %}

        </div><!--slickcarousel-->
        <div class="pagerlist dark"></div>
    </article>
</section>


